:root{
    --background-colour: #0a100d;
    --secodary:#ebebeb;
    --primary:#f24c00;
    --accent:#c0c5da;
    --header-color:#000000;
}
@media (min-width: 768px) {
  /* header large style   */

    #menu{
    display: none;
}
.home-p h1{
    font-size: 60px;
    font: bold;
    
    
   
    
}

header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}



nav{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    
}

nav a{
    text-decoration: none;
    padding-left: 50px;
    padding-top: 30px;
    color: white;
    
}
header img{
    width: 200px;
    height: auto;
}

/* home page style */
h2{
    text-align: center;
    font-size: 30px;
    color: var(--header-color);
}

.sec{
    position: absolute;
    left: 10px;
    top: 120px;
    width: 50%;
    background-color: var(--secodary);
    box-shadow:   2px 2px 2px #c0c5da;
}
.sec h1{
    font-size: 40px;
}
.sec p{
    text-align: center;
    font-size: 20px;
    color: var(--header-color);
}
.btn{
   
    text-align: center;
   position: absolute;
    border-radius: 6px;
    font-size: 6px;
    border: none;
    bottom: 0;
    top: 380px;
    left: 150px;
    
    
}
.btn button{
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    text-align: left; box-shadow:   2px 2px 2px #c0c5da;
    color: white;
     background-color: var(--background-colour);
     font-size: 20px;
}
.sec-2{
    display: flex;
    padding: 20px;
    background-color: var(--secodary);
    
}
.sec-2 img{
    width: 300px;
    height: auto;
}
.sec-2 p{
    text-align: left;
    font-size: 20px;
    color: #0a100d;
    line-height: 30px;
}
.sec-2 h2{
    text-align: center;
    font-size: 30px;

}


.card-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #c0c5da;
    justify-content: center;
    gap: 30px;
    
   
    
}
.card{
    width: 200px;
    height: auto;
     
}
.card img{
    padding: 50px;
    width: 50px;
    height: auto;
    
}
.card p{
    text-align: center;
    font-size: 15px;
}

.services h2{
    text-align: center;
    font-size: 30px;
    color: var(--header-color);
}
.services{
    background-color: #c0c5da;
    padding: 20px;

}
.card2 img{
      width: 200px;         
  height: 200px;
  object-fit: cover;    
  border-radius: 50%; 
}

.prof-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    
    
}
.sec-3{
    background-color: var(--secodary);
    padding-top: 20px;
}

.card2 p{
    text-align: center;
    color: var(--header-color);
    font-size: 15px;

    
  
}




/* contact us style */
.con-h1{
    text-align: center;
    font-size: 50px;
    position: absolute;
    top:100px;
    padding: 20px;
   
    
}
.con-div img{
    width: 100%;
    height: auto;
    position: relative;
}


.contact-info h2{
    
    padding: 20px;
    font-size: 30px;
}
.contact-info img{
    width: 100px;
    height: auto;
}
.con-div p{
    width: 400px;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    top: 200px;
    padding: 20px;
}

.contact{
    display: flex;
    justify-content: space-around;
}
.con{
    width: 300px;
    margin: 20px;
    height: 300px;
} 
/* about page style   */
.about{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

 .abt-head h1{
    color: var(--header-color);
    text-align: center;
    font-size: 60px;
 }
.about img{
    width: 100%;
    height: auto;
}
.about h2{
    font-size: 30px;
}
.about p{
    text-align: left;
    line-height: 30px;
}
.abt-head{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.abt-head p{
    line-height: 30px;
    font-size: 15px;
}
figure img{
    width: 300px;
    height: auto;
}
.prof{
    display: flex;
    flex-wrap: wrap;
}


}