:root{
    --background-colour: #0a100d;
    --secodary:#ebebeb;
    --primary:#f24c00;
    --accent:#c0c5da;
    --header-color:#000000;
}
body{
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     width: 100%;
     height: 100%;

  
}

.navigation a:hover {
	background-color: #bbb;
	color: #333;
	border-radius: 6px;
}

.hero{
    position: relative;
}



.hero img{
    width: 100%;
    height: auto;
}
header{
    
    background-color: var(--background-colour);
}
.home-p h1{
    text-align: center;
    font-size: 20px;
    font: bold;
    color: var(--primary);
    
   
    
}


form{
    text-align: center;
} 
nav a{
    text-decoration: none;
}
header img{
    width: 200px;
    height: auto;
}

.sec{
    position: absolute;
    left: 10px;
    top: 70px;
    width: 50%;
    background-color: var(--secodary);
    box-shadow:   2px 2px 2px var(--accent);
}
.sec h1{
    font-size: 20px;
}
.sec p{
    text-align: center;
    font-size: 10px;
    color: var(--header-color);
}
.btn{
   
    text-align: center;
   position: absolute;
    border-radius: 6px;
    font-size: 6px;
    border: none;
    bottom: 0;
    top: 250px;
    left: 10px;
    
    
}
.btn button{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    text-align: left; box-shadow:   2px 2px 2px var(--accent);
    color: white;
     background-color: var(--background-colour);
     font-size: 20px;
}
.sec-2{
    display: block;
    padding: 20px;
    background-color: var(--secodary);
    
}
.sec-2 img{
    width: 100%;
    height: auto;
    
}
.sec-2 p{
    text-align: center;
    font-size: 15px;
    color: var(--background-colour);
    line-height: 30px;
}
.sec-2 h2{
    text-align: center;
    font-size: 30px;

}


.card-container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--accent);
    justify-content: center;
    gap: 30px;
    
   
    
}
.card{
    background-color: #e3e4eb;
    width: 150px;
    height: auto;
    
    
}
.card img{
    padding: 50px;
    width: 50px;
    height: auto;
    
}
.card p{
    text-align: center;
    font-size: 15px;
}

.services h2{
    text-align: center;
    font-size: 30px;
    color: var(--header-color);
}
.services{
    background-color: var(--accent);
    padding: 20px;

}
.card2 img{
      width: 150px;         
  height: 150px;
  object-fit: cover;    
  border-radius: 50%; 
}

.prof-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.sec-3{
    background-color: #ebebeb;
    padding-top: 20px;
}
.sec-3 h2{
    text-align: center;
    color: var(--header-color);
}

.card2 p{
    text-align: center;
    color: var(--header-color);
    font-size: 15px;

    
  
}

/* footer style */
footer{
    background-color: var(--background-colour);
}
.highlight {
	color: yellow;
	font-weight: 700;
	font-family: hebrew;
    text-align: center;
}
.foot-p{
    padding-top: 20px;
    color: white;
    text-align: center;
}
 
@media (max-width: 768px) {
   /* navigation style */
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 30;
    }
    #menu::before {
        content: "☰";
    }
    #menu.open::before {
        content: "❌";
    }

    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.8);
        width: 30%;
        padding: 20px;
        display: none; 
        z-index: 20;
    }
    

    .navigation a {
        color: white;
        text-decoration: none;
        padding: 10px 0;
        font-size: 18px;
        width: 100%;
    }

    .navigation.open {
        display: flex; 
    }

    .navigation img {
        margin-bottom: 15px;
        width: 150px;
    }
    /* contact page style */
    .contact-info{
        display: flex;
        justify-content: space-around;
    }
    .con-div p{
        text-align: center;
    }

    .con-div img{
    width: 100%;
    height: auto;
    
   
}
.con-h1{
    text-align: center;
}

/* about page style   */

 .abt-head h1{
    color: var(--header-color);
    text-align: center;
    font-size: 40px;
 }

.about img{
    width: 100%;
    height: auto;
}
.prof-h2, .about h2{
    font-size: 20px;
    color: var(--header-color);
    text-align: center;
}
li{
    font-size: 12px;
}
.about p{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.abt-head p{
    line-height: 30px;
     padding: 12px; 
    text-align: center;
}
figure img{
    width: 100%;
    height: auto;
   
}
.prof{
    display: block;
    
}

figcaption{
    text-align: center;
    font-size: 10px;
}
}

/* contact page style */
.contact-info img{
    width: 70px;
    height: auto;
     padding: 5px;
}
.contact-info h2{
    text-align: left;
    
    font-size: 30px;
     padding: 5px;
}
.con{
    width: 45%;
    background-color: rgb(235, 235, 235);
   
    margin: 20px;
    border-radius: 4px;
}
.contact-info p{
    font-size: 15px;
    text-align: center;
}

.m-form h3{
    text-align: center;
   
}
.m-form form{
     max-width: 450px;
     background-color: rgb(235, 235, 235);
     border-radius: 6px;
     border: none;
     
}
form label{
    display: block;
}
form input{
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
}

form textarea{
    width: 50%;
    padding: 20px;
    margin-top: 10px;
    
}
form input[type="submit"]{
    text-align: center;
    width: 80%;
    background-color: green;
    color: white;
    padding: 20px;
}
form{
    width: 100%;
}